<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <description>Servlet handling all webdav requests and converting them to Atmos REST requests.</description>
        <servlet-name>atmosdav</servlet-name>
        <servlet-class>com.orange.api.atmosdav.AtmosDavServlet</servlet-class>
        <init-param>
            <description>IP address of the Atmos endpoint</description>
            <param-name>atmos_host</param-name>
            <param-value>casto.si.francetelecom.fr</param-value>
        </init-param>
        <init-param>
            <description>IP port of the Atmos endpoint</description>
            <param-name>atmos_port</param-name>
            <param-value>80</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>atmosdav</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
